<!-- templates/admin_panel/moderation_log.html -->
{% extends 'admin_panel/base.html' %}

{% block admin_title %}Лог модерации{% endblock %}

{% block admin_content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Модератор</th>
            <th>Действие</th>
            <th>Объект</th>
            <th>Причина</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.created_at|date:"d.m.Y H:i" }}</td>
            <td>{{ log.moderator.username }}</td>
            <td>{{ log.get_action_display }}</td>
            <td>
                {% if log.project %}
                    Проект: <a href="{% url 'coverse_app:project_detail' log.project.id %}">{{ log.project.title }}</a>
                {% elif log.post %}
                    Пост: {{ log.post.title|default:"Без названия" }}
                {% elif log.user %}
                    Пользователь: {{ log.user.username }}
                {% endif %}
            </td>
            <td>{{ log.reason|truncatechars:100 }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5">Нет записей</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}